h3, h2 {
    text-align: center;
}

#ad-title {
    margin: auto;
}

#advantages img {
    margin: auto;
}

#advantages p {
    text-align: center;
}

#ad1, #ad2, #ad3, #ad4, #ad5, #ad6, #ad7, #ad8 {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background: rgb(255, 0, 195);
}

#route-title {
    width: auto;
}

#landmark, #guides {
    width: auto;
}

.table {
    overflow: hidden;
    border: 2px solid #924141;
}

.table-rounded {
    border-radius: 10px;
    overflow: hidden;
}

#guides-table, #route-table {
    text-align: center;
}

.pagination {
    margin-top: 10px;
}

#guides-search-experience label {
    margin: 5px;
    height: max-content;
}

#guides-search-experience input {
    text-align: center;
}

#experience-at {
    margin-right: 10px;
}

.form-control {
    padding: auto;
}

.selected .choose-button {
    background-color: gray;
    color: white;
    pointer-events: none;
}

.form-group button {
    margin: 0 auto;
    display: block;
}

/* Стиль для скрытых описаний */
.description-cell.hidden {
    display: none;
}
