body {    
    font-family: 'Comfortaa', cursive;
    font-family: 'Sofia Sans', sans-serif;
    margin: 0;
}

main {
    margin-bottom: 100px;
    flex: 1;
}

.main-menu {
    display: flex;
    align-items: center;
}



.main-menu ul {
    position: absolute;
    left: 0;
    top: -45px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    display: inline;
    margin-right: 10px;
}

.main-menu li:last-child {
    margin-right: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -3.2em;
    z-index: 2;
    background-color: black;
    color: white;
    padding: 65px 0 10px 0;
    font-size: 1.25rem;
    font-weight: bold;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    max-width: 75%;
    margin: 0 auto;
    position: relative;
}

.sidenav {
    width: 158px;
    position: absolute;
    z-index: 1;
    top: 20px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 160px; /* Same width as the sidebar + left position in px */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.main-menu a {
    text-decoration: none;
    color: #D97A8F;
}

.main-menu a:hover, .btn-red:hover {
    color: #eee;
    border-color: #eee;
}

main p {
    text-align: justify;
}

p {
    text-align: left;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background-color: black;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
}

.avatar {
    height: 300px;
    text-align: center;
    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.avatar img {
    height: 100%;
}

.btn {
    position: absolute;
    right: 0;
    top: -55px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    transition: color 1s, border-color 1s;
}

.btn-red {
    color: #D97A8F;
    border-color: #D97A8F;
}


.btn:hover {
    color: blue;
    border-color: blue;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: center;
    padding: 5px;
}

.text-center {
    flex: 1;
    text-align: center;
}

.text-upper {
    text-transform: uppercase;
    color: #D97A8F;
}

.text-center p {
    color: #D97A8F;
    text-align: center;
}

.main-list-img {
    width: 400px;
    margin-right: 20px;
}
